.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1000%);
  background: peru;
  transition: all 0.3s;
  z-index: 10000;
}
.show-model {
  transform: translate(-50%, -50%);
}
.model__infos {
  padding: 2rem;
}
.model__header {
  background: red;
  color: white;
  padding: 0.6rem;
  font-size: 1.4rem;
}
.model__btn-container {
  text-align: end;
}
.model__content {
  line-height: 1.4;
  margin-bottom: 1.8rem;
}

@media (max-width: 650px) {
  .model {
    width: 90%;
  }
  .rate__review {
    width: 100%;
  }
}
