.show__uploader {
  display: flex;
  align-items: center;
}
.show__uploader image {
  align-self: flex-start;
}
.user-name-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: black;
}
.user-name-text span {
  margin-top: 0.4rem;
}

.link {
  text-decoration: none;
}
