* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background: rgba(128, 128, 128, 0.288);
  overflow: hidden;
}

.heading {
  font-size: 1.2rem;
  margin: 2rem;
  text-transform: capitalize;
  text-align: center;
}
