.rating__dots {
  cursor: pointer;
  position: relative;
  display: none;
  transition: all 0.2s;
}

.show-rating__dots {
  display: block;
}

.rating__dropdown {
  position: absolute;
  text-align: center;
  padding: 0.3rem 0;
  width: 5rem;
  cursor: pointer;
  z-index: 10000;
  display: none;
  transition: all 0.5s;
  background: purple;
}
.rating__btn {
  display: inline-block;
  color: white;
  width: 100%;
  margin-top: 0.3rem;
  width: 100%;
}
.rating__btn:hover {
  color: peru;
}
.show-dropdown {
  display: block;
}
